<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi! New project is  assign to you. <%= @project.name %>!</h1>
    <p>Please go through it!
    </p>
  </body>
</html>
