<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">Jobs</h5>
      <div class="table-responsive text-nowrap">
      <%= link_to 'Add Job', new_job_path, class:"btn btn-primary mb-3 project-btn"%>
        <table class="table" id="jobs-list">
          <caption class="ms-4">
            List of Jobs
          </caption>
        </table>
      </div>
    </div>
  </div>
</div>
