<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">Jobs</h5>
      <div class="table-responsive text-nowrap">
      <% if can? :create, Job %>
      <div class="col">
          <h4 class="fw-bold"><span class="text-muted fw-light"><a href='/jobs/new' class="btn btn-primary mt-1 mb-2 timesheet-btn"><i class='bx bx-plus'></i><span>Add job</span></a></h4>
        </div>
      <% end %>
        <table class="table" id="jobs-list">
          <caption class="ms-4">
            List of Jobs
          </caption>
        </table>
      </div>
    </div>
  </div>
</div>
