<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light"></span> Edit Employee</h4>
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <%= render 'form', user: @user %>  
        </div>
      </div>
    </div>
  </div>
</div>