
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light"></span> Add Employee</h4>
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-body">
          <%= render 'form' %>  
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function checkPasswordStrength() {
    var number = /([0-9])/;
    var alphabets = /([a-zA-Z])/;
    var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
    if ($('#user_password').val().length < 6) {
      $('#password-strength-status').removeClass();
      $('#password-strength-status').addClass('weak-password');
      $('#password-strength-status').html("Weak (should be atleast 6 characters.)");
    } else {
      if ($('#user_password').val().match(number) && $('#user_password').val().match(alphabets) && $('#user_password').val().match(special_characters)) {
        $('#password-strength-status').removeClass();
        $('#password-strength-status').addClass('strong-password');
        $('#password-strength-status').html("Strong");
      } else {
        $('#password-strength-status').removeClass();
        $('#password-strength-status').addClass('medium-password');
        $('#password-strength-status').html("Medium");
      }
    }
  }

  function setMsgasNull() {
    $('#password-strength-status').removeClass();
  }
</script>