<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">Jobs</h5>
      <div class="table-responsive text-nowrap">
      <%= link_to 'Project Listing', projects_path, class:"btn btn-primary mb-3 project-btn"%>
        <table class="table" id="projects-jobs-list" data-source="<%= fetch_projects_jobs_path(format: :json, projectid: @projectid) %>">
          <caption class="ms-4">
            List of Project Jobs
          </caption>
        </table>
      </div>
    </div>
  </div>
</div>
