<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">Users</h5>
      <div class="table-responsive text-nowrap">
      <%= link_to 'Back to Project Listing', projects_path, class:"btn btn-primary mb-3 project-btn"%>
        <table class="table" id="projects-users-list" data-source="<%= fetch_projects_users_path(format: :json, projectid: @projectid) %>">
          <caption class="ms-4">
            List of Project Users
          </caption>
        </table>
      </div>
    </div>
  </div>
</div>
