<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h4 class="fw-bold py-3 mb-2"><span class="text-muted fw-light"><%= link_to('Employees Listing', users_path, class: 'btn btn-primary float-end') %></h4>
      <h5 class="card-header">Projects</h5>
      <div class="table-responsive text-nowrap">
        <table class="table" id="users-projects-list" data-source="<%= fetch_users_projects_path(format: :json, userid: @userid) %>" >
          <caption class="ms-4">
            List of Users Projects
          </caption>
        </table>
      </div>
    </div>
  </div>
</div>
