<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card card-authentication1 mx-auto my-4">
      <div class="card-body">
        <div class="card-content p-2">
          <div class="card-title text-uppercase text-center py-3">Edit timesheets details</div>
        </div>
        <%= render 'form', timesheet: @timesheet %>
        <br/>
        <%= link_to 'Back', timesheets_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>