<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <div class="row">
        <div class="col">
          <h5 class="card-header1">Timesheet</h5>
          <%= select_tag :timesheets,
                   options_for_select(["This Week","This Month","Last Month","This Year"]),
                   class: 'form-select timesheet-filter ', id:"timesheets" %>
                   <div name="timesheets"><br>
        </div>
        <div class="col">
          <h4 class="fw-bold"><span class="text-muted fw-light"><a href='/timesheets/new' class="btn btn-primary mt-1 mb-2 timesheet-btn"><i class='bx bx-plus'></i><span>Add timesheet</span></a></h4>
        </div>
      </div>
    <div class="mb-30">
    </div>
      <div class="table-responsive text-nowrap">
        <table class="table " id="timesheet-list-table" data-userrole="<%= current_user.role %>">
        </table>
      </div>
    </div>
  </div>
</div>