<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Leave is rejected, <%= @leavetracker.user.first_name %>!</h1>
  </body>
</html>