<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card card-authentication1 mx-auto my-4">
      <div class="card-body">
        <div class="card-content p-2">
          <div class="card-title text-uppercase text-center py-3">Edit leave details</div>
        </div>
        <%= render 'form', leavetracker: @leavetracker %>
        <br/>
        <%# <%= link_to 'Show', @timesheet, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>