<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">LeaveTracker</h5>
      <div class="table-responsive text-nowrap">
        <h4 class="fw-bold float-end m-3"><span class="text-muted fw-light"><a href='/leave_trackers/new' class="btn btn-primary mt-1 mb-2 shared-add-btn"><i class='bx bx-plus'></i><span>Apply Leave</span></a></h4>
        <table class="table" id="leavetracker-listing" data-userrole="<%= current_user.role %>">
          <caption class="ms-4">
            LeaveTracker
          </caption>
        </table>
      </div>
    </div>
  </div>
</div>
