.collapsible {
  background-color: rgb(255, 255, 255);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapsible:hover {
  background-color: #ccc;
}


/* Style the collapsible content. Note: hidden by default */

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.alert {
    padding: 1px;
    margin-left: -8px;
    margin-right: 5px;
    background-color: #ff9600;
    color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.more_action_bg {
  background-color: #4c499c !important;
  }
  
.more_action_bg .feather {
  margin-right: 3px;
}

.more_action_bg .dropdown-item {
  color: #eee !important;
}

.more_action_bg .dropdown-item:hover, .more_action_bg .dropdown-item:focus {
  background: transparent !important;
  color: #C2C6DC !important;
}

.user_table_image_thumb_size {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

#password-strength-status {
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 4px;
  margin-top: 5px;
}

.medium-password {
  background-color: #b7d60a;
  border: #BBB418 1px solid;
}

.weak-password {
  background-color: #ce1d14;
  border: #AA4502 1px solid;
}

.strong-password {
  background-color: #12CC1A;
  border: #0FA015 1px solid;
}
